<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/CodeSeed</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./report" lowUpperBound="50" highLowerBound="80" />
    </logging>
    <php>
        <env name="APP" value="YOUR APP NAME" />
    </php>
</phpunit>
